* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container{
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
}

:root {
  --white: #ffffff;
  --pakistan-green: #163300;
  --night: #0E0F0C;
  --outer-space: #454745;
  --light-green: #9FE870;
}